$darkgrey: #373737;
$grey: #474747;
$lightgrey: #676767;

// QUADRANT BACKGROUNDS
$pastelpink: #f197c0;
$pastelgreen: #a5f8ce;
$pastelorange: #fec9a7;
$pastelpurple: #b49fdc;

$shadow: 5px 10px 8px #888888;
